@{
    ViewBag.Title = "About";
}
<!--=================================
      Search -->
<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<!--=================================
  Search -->
<!--=================================
  Header Inner -->
<section class="header-inner header-inner-menu bg-overlay-secondary"
         style="background-image: url('../../Content/images/listing/06.jpg');">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 position-relative">
                <div class="header-inner-title">
                    <div class="section-title">

                        <h2 class="title text-white"><strong>About Us</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-inner-shape" style="background-image: url('../../Content/images/bg/02.png');"></div>
</section>
<!--=================================
  Header Inner -->
<!--=================================
  About -->
<section class="space-ptb about-02">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-5 mb-lg-0">
                <div class="section-title">
                    <h2 class="title">Tất cả về những <strong> khoảnh khắc đẹp</strong></h2>
                    <div class="description mb-4 mb-md-5">
                        <p>
                            Chúng ta cũng biết những câu chuyện sử thi đó, những truyền thuyết thời hiện đại xung
                            quanh những thất bại ban đầu của những người cực kỳ thành công như Michael Jordan và
                            Bill Gates.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="list list-unstyled">
                            <li>
                                <i class="fa fa-check"></i>Thành công là điều mà tất cả chúng ta đều mong muốn hơn
                                thế nữa.
                            </li>
                            <li><i class="fa fa-check"></i>Hầu hết mọi người tin rằng thành công là khó khăn.</li>
                            <li><i class="fa fa-check"></i>Họ sai - không phải vậy!</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-4 mt-md-5">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-5">
                        <a href="#" class="btn btn-primary">Đọc Thêm</a>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-8 col-sm-7 mt-4 mt-sm-0 ">
                        <div class="call-box">
                            <div class="call-box-icon">
                                <i class="fa-solid me-2 fa-phone-volume"></i>
                            </div>
                            <div class="call-box-content">
                                <p class="small">Gọi cho chúng tôi bất cứ lúc nào</p>
                                <span class="text-secondary fw-bold">+(704) 279-1249</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-9">
                <div class="about">
                    <div class="img-01">
                        <img class="img-fluid border-radius" src="~/Content/images/about/02.jpg" alt="">
                    </div>
                    <div class="shape">
                        <img src="~/Content/images/about/5.svg" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
  About -->
<!--=================================
  Testimonial -->
<section class="bg-secondary position-relative">
    <div class="map-bg-img"
         style="background-image: url(../../Content/images/bg/map.png); background-position: center right; background-repeat: no-repeat;">
    </div>
    <div class="container ">
        <div class="row justify-content-end">
            <div class="col-md-12 col-lg-5 position-absolute start-0 top-0 h-100 p-0 d-none d-lg-block">
                <div class="bg-holder h-100 w-100" style="background-image: url(../../Content/images/bg/04.jpg);"></div>
            </div>
            <div class="col-md-12 col-lg-7 justify-content-start">
                <div class="space-ptb">
                    <div class="section-title position-relative ps-0 ps-lg-3">
                        <h2 class="title text-white">
                            Khách hàng Hạnh phúc của chúng tôi <strong>
                                nói gì về chúng
                                tôi
                            </strong>
                        </h2>
                        <div class="description">
                            <p class="text-white">
                                Tìm ra những gì bạn muốn, lên kế hoạch cùng nhau để đạt được nó,
                                hiểu rõ cái giá phải trả, tin tưởng vào bản thân rồi hãy đi và đạt được nó!
                            </p>
                        </div>
                    </div>
                    <div class="owl-carousel owl-nav-bottom-center ps-0 ps-lg-3" data-nav-dots="true"
                         data-nav-arrow="false" data-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1"
                         data-space="30" data-autoheight="true">
                        <div class="item">
                            <div class="testimonial">
                                <div class="testimonial-star-icon">
                                    <ul>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="testimonial-quote-icon">
                                    <img class="img-fluid" src="images/testimonial/quote.svg" alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p class="mb-0 text-white">
                                        <i>
                                            Tôi yêu Potenza. Tôi đã nhận được ít nhất 50 lần
                                            giá trị từ Potenza. Tôi RẤT MẠNH giới thiệu Potenza cho MỌI NGƯỜI muốn
                                            điều hành một doanh nghiệp trực tuyến thành công!
                                        </i>
                                    </p>
                                </div>
                                <div class="testimonial-author d-flex align-items-center">
                                    <div class="testimonial-avatar avatar">
                                        <img class="img-fluid rounded-circle" src="~/Content/images/avatar/01.jpg" alt="">
                                    </div>
                                    <div class="testimonial-name d-flex align-items-center">
                                        <h6 class="text-white author-tittle">Alice Williams</h6>
                                        <span class="text-white">Services</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial">
                                <div class="testimonial-star-icon">
                                    <ul>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="testimonial-quote-icon">
                                    <img class="img-fluid" src="~/Content/images/testimonial/quote.svg" alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p class="mb-0 text-white">
                                        <i>
                                            Tôi sẵn lòng trả hơn 600 đô la cho Potenza. Kể từ
                                            khi đầu tư vào Potenza, tôi đã kiếm được hơn 100.000 đô la lợi nhuận.
                                            Công ty của bạn thực sự xuất sắc và đứng sau sản phẩm của mình 100%.
                                        </i>
                                    </p>
                                </div>
                                <div class="testimonial-author d-flex align-items-center">
                                    <div class="testimonial-avatar avatar">
                                        <img class="img-fluid rounded-circle" src="~/Content/images/avatar/02.jpg" alt="">
                                    </div>
                                    <div class="testimonial-name d-flex align-items-center">
                                        <h6 class="text-white author-tittle">Harry Russell</h6>
                                        <span class="text-white">Advisors</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial">
                                <div class="testimonial-star-icon">
                                    <ul>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                                <div class="testimonial-quote-icon">
                                    <img class="img-fluid" src="~/Content/images/testimonial/quote.svg" alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p class="mb-0 text-white">
                                        <i>
                                            I love your system. Nice work on your Potenza.
                                            Great job, I will definitely be ordering again! I would like to
                                            personally thank you for your outstanding product.
                                        </i>
                                    </p>
                                </div>
                                <div class="testimonial-author d-flex align-items-center">
                                    <div class="testimonial-avatar avatar">
                                        <img class="img-fluid rounded-circle" src="~/Content/images/avatar/03.jpg" alt="">
                                    </div>
                                    <div class="testimonial-name d-flex align-items-center">
                                        <h6 class="text-white author-tittle">Paul Flavius</h6>
                                        <span class="text-white">Finance</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Testimonial -->


