@{
    ViewBag.Title = "Home Page";
}

<!--=================================
      banner -->
<section class="banner banner-3 bg-holder" style="background-image: url(../../Content/images/banner/home-3/02.png);">
    <div class="shape bg-holder" style="background-image: url(../../Content/images/banner/home-3/01.svg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-10 col-md-11">
                <h1 class="fw-600"><span class="text-primary">Làng Nhỏ </span><br> Hồ Láng Nhớt</h1>
                <p class="mb-4 small" style="width: 75%">
                    <br> Chào đón bạn đến trải nghiệm KDL sinh thái cách trung tâm Nha Trang chỉ 20km
                    <br> Địa điểm tổ chức sự kiện Liên Hoan Kiến Trúc Marchifest 2022 vào cuối tháng 5, nơi hội tụ
                    giới kiến trúc sư tên tuổi trong và ngoài nước.
                    <br> Diễn ra các buổi Talk show, giao lưu chia sẻ kiến thức chuyên môn nghề nghiệp.
                    <br> Cả nhà ghé Làng dịp này tham quan trải nghiệm còn có cơ hội thưởng lãm rất nhiều tác
                    phẩm THIÊN NHIÊN - KIẾN TRÚC khác nhau, gặp gỡ các vị kiến trúc sư tài ba hiếm khi xuất hiện!!
                </p>
            </div>
        </div>
    </div>
</section>
<!--=================================
    banner -->
<!--=================================
    Feature Categories -->
<section class="categories-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-nav-center feature-categories-2" data-nav-dots="false" data-nav-arrow="true"
                     data-items="6" data-xl-items="5" data-lg-items="4" data-md-items="3" data-sm-items="2" data-xs-items="1"
                     data-xx-items="1" data-space="0" data-autoheight="false">
                    <div class="item">
                        <div class="feature-categories">
                            <div class="icon">
                                <object type="image/svg+xml" data="~/Content/images/svg/canoe-3.svg" class="icon "></object>
                            </div>
                            <h6 class="mb-0 title"><a href="#"> Tham Quan <br> Hồ Láng Nhớt</a></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feature-categories">
                            <div class="icon">
                                <object type="image/svg+xml" data="~/Content/images/svg/buggy.svg" class="icon "></object>
                            </div>
                            <h6 class="mb-0 title"><a href="#"> Tham Quan <Br> Làng Nhỏ </a></h6>
                        </div>
                    </div>

                    <div class="item">
                        <div class="feature-categories">
                            <div class="icon">
                                <object type="image/svg+xml" data="~/Content/images/svg/heritage-nature.svg" class="icon "></object>
                            </div>
                            <h6 class="mb-0 title"><a href="#"> Bảo Tồn <br> Thiên Nhiên </a></h6>
                        </div>
                    </div>

                    <div class="item">
                        <div class="feature-categories">
                            <div class="icon">
                                <object type="image/svg+xml" data="~/Content/images/svg/beaches.svg" class="icon "></object>
                            </div>
                            <h6 class="mb-0 title"><a href="#"> Cắm Trại <br> Ven Hồ </a></h6>
                        </div>
                    </div>

                    <div class="item">
                        <div class="feature-categories">
                            <div class="icon">
                                <object type="image/svg+xml" data="~/Content/images/svg/hiking.svg" class="icon "></object>
                            </div>
                            <h6 class="mb-0 title"><a href="#"> Hiking 12km <br> xuyên rừng </a></h6>
                        </div>
                    </div>

                    <div class="item">
                        <div class="feature-categories">
                            <div class="icon">
                                <object type="image/svg+xml" data="~/Content/images/svg/atv.svg" class="icon "></object>
                            </div>
                            <h6 class="mb-0 title"><a href="#"> Tuyến ATV 8km </a></h6>
                        </div>
                    </div>

                    <div class="item">
                        <div class="feature-categories">
                            <div class="icon">
                                <object type="image/svg+xml" data="~/Content/images/svg/family.svg" class="icon "></object>
                            </div>
                            <h6 class="mb-0 title"><a href="#"> Kết nối <br> Gia đình </a></h6>
                        </div>
                    </div>

                    <div class="item">
                        <div class="feature-categories">
                            <div class="icon">
                                <object type="image/svg+xml" data="~/Content/images/svg/honeymoon.svg" class="icon "></object>
                            </div>
                            <h6 class="mb-0 title"><a href="#"> Trăng Mật <br> Đặt biệt </a></h6>
                        </div>
                    </div>

                    <div class="item">
                        <div class="feature-categories">
                            <div class="icon">
                                <object type="image/svg+xml" data="~/Content/images/svg/adventure.svg" class="icon "></object>
                            </div>
                            <h6 class="mb-0 title"><a href="#"> Khám Phá <br> Thiên nhiên </a></h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
    Feature Categories -->
<!--=================================
    Tour Grid -->

<section class="space-ptb perfect-tour bg-holder nav-arrow-top" style="background-image: url(../../Content/images/bg/03.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Back To <strong>Nature</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12 position-relative">
                <div class="slider">
                    <div class="owl-carousel owl-nav-bottom-center" data-nav-dots="false" data-nav-arrow="true" data-items="4"
                         data-xl-items="4" data-lg-items="4" data-md-items="3" data-sm-items="2" data-xs-items="1" data-space="30"
                         data-autoheight="true">
                        <div class="item">
                            <div class="listing-item">
                                <div class="listing-image bg-overlay-half-bottom">
                                    <img class="img-fluid" src="~/Content/images/listing/01.jpg" alt="#">
                                    <div class="listing-favourite">
                                        <!-- <i class="fa-regular fa-heart"></i> -->
                                    </div>
                                </div>
                                <div class="listing-details">
                                    <div class="listing-title d-flex justify-content-between">
                                        <h5 class="mb-0">
                                            <a href="#" class="title mb-0">Cầu Tre</a>
                                        </h5>
                                    </div>

                                    <a href="#" class="btn btn-link">Xem Chi Tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listing-item">
                                <div class="listing-image bg-overlay-half-bottom">
                                    <img class="img-fluid" src="~/Content/images/listing/02.jpg" alt="#">
                                    <div class="listing-favourite">
                                        <!-- <i class="fa-regular fa-heart"></i> -->
                                    </div>
                                </div>
                                <div class="listing-details">
                                    <div class="listing-title d-flex justify-content-between">
                                        <h5 class="mb-0"><a href="#" class="title mb-0">Đường Đê Ven Hồ</a></h5>
                                    </div>

                                    <a href="#" class="btn btn-link">Xem Chi Tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listing-item">
                                <div class="listing-image bg-overlay-half-bottom">
                                    <img class="img-fluid" src="~/Content/images/listing/04.jpg" alt="#">
                                    <div class="listing-favourite">
                                        <!-- <i class="fa-regular fa-heart"></i> -->
                                    </div>
                                </div>
                                <div class="listing-details">
                                    <div class="listing-title d-flex justify-content-between">
                                        <h5 class="mb-0">
                                            <a href="#" class="title mb-0">Hồ Láng Nhớt</a>
                                        </h5>
                                    </div>

                                    <a href="#" class="btn btn-link">Xem Chi Tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listing-item">
                                <div class="listing-image bg-overlay-half-bottom">
                                    <img class="img-fluid" src="~/Content/images/listing/05.jpg" alt="#">
                                    <div class="listing-favourite">
                                        <!-- <i class="fa-regular fa-heart"></i> -->
                                    </div>
                                </div>
                                <div class="listing-details">
                                    <div class="listing-title d-flex justify-content-between">
                                        <h5 class="mb-0"><a href="#" class="title mb-0">Đường Hoa Sim</a></h5>
                                    </div>

                                    <a href="#" class="btn btn-link">Xem Chi Tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
    Tour Grid -->
<!--=================================
    Counter -->
<section class="space-ptb bg-holder" style="background-image: url(../../Content/images/bg/05.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <!-- <div class="col-xl-3 align-self-center mb-4 mb-sm-5 mb-xl-0">
                        <img class="img-fluid" src="images/about/03.png" alt="#">
                    </div> -->
            <div class="col-xl-12">
                <div class="section-title mb-4">

                    <h2 class="title">Combo tham quan <strong>Làng Nhỏ</strong></h2>
                    <p class="mb-0">
                        Nơi phục vụ những bữa ăn ngon & chất lượng với cái tâm, cái tình của Làng gửi vào đấy! <br>
                        Nơi bạn nhâm nhi ly coffee sáng ngắm bình mình hay lý trà chanh chiều ngắm hoàng hôn ☀️ <br>
                        Và đừng quên nhìn ngắm
                        lối kiến trúc độc đáo nơi đây với kết cấu gỗ lắp ghép kết hợp mái trồng cỏ🌿
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-nav-center feature-categories-2" data-nav-dots="false" data-nav-arrow="true"
                             data-items="1" data-md-items="1" data-sm-items="1" data-space="0" data-autoheight="true">
                            <div class="item">
                                <div class="listing-item listing-item-2">
                                    <div class="listing-image bg-overlay-half-bottom">
                                        <img class="img-fluid" src="~/Content/images/listing/05.jpg" alt="#">
                                        <div class="listing-favourite">
                                            <!-- <i class="fa-regular fa-heart"></i> -->
                                        </div>
                                    </div>
                                    <div class="listing-details">
                                        <div class="listing-title d-flex justify-content-between">
                                            <h5 class="mb-0"><a href="#" class="title mb-0">Combo trọn gói - Vi Vu Làng Nhỏ</a></h5>
                                            <div class="country-flags">
                                                <!-- <img class="img-fluid shadow-sm" src="images/country-flags/01.jpg" alt="#"> -->
                                            </div>
                                        </div>
                                        <div class="price">
                                            Người lớn: 590.000 vnđ <br>
                                            Trẻ em: 410.000 nvđ
                                        </div>
                                        <div class="listing-info">
                                            <!-- <img class="img-fluid" src="images/listing-brand/01.png" alt=""> -->
                                            <p class="mb-0">
                                                <i class="fa-solid fa-leaf"></i> Tham quan làng - chụp ảnh checking tại vô số vị trí hot: cầu
                                                gỗ trên ngọn tre, cầu gỗ xuyên suối lều trên đồi, cung đường vành đai, nhà trung tâm view hồ
                                                Láng Nhớt<br>
                                                <i class="fa-solid fa-leaf"></i> Trải nghiệm ngắm hồ Láng Nhớt bằng thuyền phao chạy máy - Hồ
                                                còn được khách thường gọi là hồ vô cực<br>
                                                <i class="fa-solid fa-leaf"></i> Trải nghiệm dạo Làng Nhỏ ngắm cảnh chụp hình bằng xe điện<br>
                                                <i class="fa-solid fa-leaf"></i> Thưởng thức Buffet - ăn no nê với các món đặc sản tuỳ theo
                                                nguyên liệu mùa nào món nấy tươi ngon<br>
                                                <i class="fa-solid fa-leaf"></i> Miễn phí nước ép trái cây, nước suối, đồ ăn vặt cả ngày
                                            </p>
                                        </div>

                                        <a href="Contact.html" style="test-align: right" class="btn btn-primary">Liên Hệ</a>
                                        <!-- <div class="listing-rating d-flex justify-content-between">
                                                      <div class="d-flex">
                                                        <div class="date me-3">
                                                          <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                                                        </div>
                                                        <div class="rating">
                                                          <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                                                        </div>
                                                      </div>
                                                    </div>   -->
                                        <!-- <a href="#" class="btn btn-link d-flex">See Details</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="listing-item listing-item-2">
                                    <div class="listing-image bg-overlay-half-bottom">
                                        <img class="img-fluid" src="images/listing/02.jpg" alt="#">
                                        <div class="listing-favourite">
                                            <!-- <i class="fa-regular fa-heart"></i> -->
                                        </div>
                                    </div>
                                    <div class="listing-details">
                                        <div class="listing-title d-flex justify-content-between">
                                            <h5 class="mb-0"><a href="#" class="title mb-0">Combo Tham Quan Trải Nghiệm</a></h5>
                                            <div class="country-flags">
                                                <!-- <img class="img-fluid shadow-sm" src="images/country-flags/01.jpg" alt="#"> -->
                                            </div>
                                        </div>
                                        <div class="price">
                                            Người lớn: 300.000 vnđ <br>
                                            Trẻ em: 150.000 nvđ
                                        </div>
                                        <div class="listing-info">
                                            <!-- <img class="img-fluid" src="images/listing-brand/01.png" alt=""> -->
                                            <p class="mb-0">
                                                <i class="fa-solid fa-leaf"></i> Tham quan làng - chụp ảnh checking tại vô số vị trí hot: cầu
                                                gỗ trên ngọn tre, cầu gỗ xuyên suối lều trên đồi, cung đường vành đai, nhà trung tâm view hồ
                                                Láng Nhớt<br>
                                                <i class="fa-solid fa-leaf"></i> Trải nghiệm ngắm hồ Láng Nhớt bằng thuyền phao chạy máy - Hồ
                                                còn được khách thường gọi là hồ vô cực<br>
                                                <i class="fa-solid fa-leaf"></i> Trải nghiệm dạo Làng Nhỏ ngắm cảnh chụp hình bằng xe điện<br>
                                                Cung đường vành đai núi: không giành cho người già và trẻ em <br> Tham quan cung đường bờ đê
                                                <i class="fa-solid fa-leaf"></i> Trải nghiệm con đường gỗ xuyên suối, lội suối, tắm suối
                                            </p>
                                        </div>

                                        <a href="Contact.html" style="test-align: right" class="btn btn-primary">Liên Hệ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>
<!--=================================
    Counter -->
<!--=================================
    Destination -->
<section>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-sm-4 col-xl-3">
                <div class="destination-trips-item masonry-item">
                    <div class="trips-img">
                        <img class="img-fluid" src="~/Content/images/destination/37.png" alt="#">
                        <div class="trips-content">
                            <h4 class="mb-0"><a class="trips-title" href="#">Shape of Wind</a></h4>
                            <a class="trips-info" href="#">Kiến Trúc</a>
                        </div>
                    </div>
                </div>
                <div class="destination-trips-item masonry-item">
                    <div class="trips-img">
                        <img class="img-fluid" src="~/Content/images/destination/39.png" alt="#">
                        <div class="trips-content">
                            <h4 class="mb-0"><a class="trips-title" href="#">Silent Temple</a></h4>
                            <a class="trips-info" href="#">MIA Studio</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-xl-6">
                <div class="row g-0">
                    <div class="col-sm-5">
                        <div class="destination-trips-item masonry-item">
                            <div class="trips-img">
                                <img class="img-fluid" src="~/Content/images/destination/40.png" alt="#">
                                <div class="trips-content">
                                    <h4 class="mb-0"><a class="trips-title" href="#">PaGOda INSIDE</a></h4>
                                    <a class="trips-info" href="#">HML Architecture</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="destination-trips-item masonry-item">
                            <div class="trips-img">
                                <img class="img-fluid" src="~/Content/images/destination/48.png" alt="#">
                                <div class="trips-content">
                                    <h4 class="mb-0"><a class="trips-title" href="#">Lake Imprint</a></h4>
                                    <a class="trips-info" href="#">G8A Architecture</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-sm-7">
                        <div class="destination-trips-item masonry-item">
                            <div class="trips-img">
                                <img class="img-fluid" src="~/Content/images/destination/49.png" alt="#">
                                <div class="trips-content">
                                    <h4 class="mb-0"><a class="trips-title" href="#">Nhà Hàng Cây KÉ</a></h4>
                                    <a class="trips-info" href="#">DD Concept</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="destination-trips-item masonry-item">
                            <div class="trips-img">
                                <img class="img-fluid" src="~/Content/images/destination/38.png" alt="#">
                                <div class="trips-content">
                                    <h4 class="mb-0"><a class="trips-title" href="#">Trạm Thời Gian</a></h4>
                                    <a class="trips-info" href="#">23o5 Architect</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-sm-5">
                        <div class="destination-trips-item masonry-item">
                            <div class="trips-img">
                                <img class="img-fluid" src="~/Content/images/destination/43.png" alt="#">
                                <div class="trips-content">
                                    <h4 class="mb-0"><a class="trips-title" href="#">The Link</a></h4>
                                    <a class="trips-info" href="#">DE-SO Asia</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="destination-trips-item masonry-item">
                            <div class="trips-img">
                                <img class="img-fluid" src="~/Content/images/destination/45.png" alt="#">
                                <div class="trips-content">
                                    <h4 class="mb-0"><a class="trips-title" href="#">Tree</a></h4>
                                    <a class="trips-info" href="#">HIQ Design</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-sm-7">
                        <div class="destination-trips-item masonry-item">
                            <div class="trips-img">
                                <img class="img-fluid" src="~/Content/images/destination/44.png" alt="#">
                                <div class="trips-content">
                                    <h4 class="mb-0"><a class="trips-title" href="#">Ngói Bay</a></h4>
                                    <a class="trips-info" href="#">HPA Architect</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="destination-trips-item masonry-item">
                            <div class="trips-img">
                                <img class="img-fluid" src="~/Content/images/destination/42.png" alt="#">
                                <div class="trips-content">
                                    <h4 class="mb-0"><a class="trips-title" href="#">The Sóng</a></h4>
                                    <a class="trips-info" href="#">Viet Architecture</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="upcomming-plan h-100 bg-holder" style="background-image: url(images/blog/01.jpg);">
                    <div class="upcomming h-100">
                        <div class="upcomming-info text-center h-100 d-flex justify-content-center">
                            <div class="align-self-center">
                                <img class="img-fluid" src="~/Content/images/logo-LangNho.svg" alt="#">
                                <img class="img-fluid" src="~/Content/images/Marchifest.jpg" alt="#">
                                <h3 class="fw-bold my-4">Upcoming Marchifest 2022</h3>
                                <h4 class="fw-bold my-4">Kiến trúc - Thiên nhiên <br> Tổ chức tại Làng Nhỏ <br> 27 - 29/5</h4>
                                <div class="countdown-2">
                                    <div class="countdown">
                                        <span class="theme-color days">00</span>
                                        <p class="days_ref">Days</p>
                                    </div>
                                    <div class="countdown">
                                        <span class="theme-color hours">00</span>
                                        <p class="hours_ref">Hours</p>
                                    </div>
                                    <div class="countdown">
                                        <span class="theme-color minutes">00</span>
                                        <p class="minutes_ref">Minutes</p>
                                    </div>
                                    <div class="countdown">
                                        <span class="theme-color seconds">00</span>
                                        <p class="seconds_ref">Seconds</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
  Destination -->
<!--=================================
  client -->
<section class="client-logo">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12">
                <div class="owl-carousel owl-nav-bottom-center" data-nav-dots="false" data-nav-arrow="false" data-items="6"
                     data-lg-items="4" data-md-items="2" data-sm-items="1" data-space="30" data-autoheight="true">
                    <div class="item text-center">
                        <a href="#"><img class="img-fluid" src="~/Content/images/client-logo/23o5.png" alt="#"></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img class="img-fluid" src="~/Content/images/client-logo/ACong.png" alt="#"></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img class="img-fluid" src="~/Content/images/client-logo/DDConcept.png" alt="#"></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img class="img-fluid" src="~/Content/images/client-logo/De-SOAsia.png" alt="#"></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img class="img-fluid" src="~/Content/images/client-logo/G8A.png" alt="#"></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img class="img-fluid" src="~/Content/images/client-logo/HIQArchitect.png" alt="#"></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img class="img-fluid" src="~/Content/images/client-logo/HML.png" alt="#"></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img class="img-fluid" src="~/Content/images/client-logo/HP-Architect.png" alt="#"></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img class="img-fluid" src="~/Content/images/client-logo/MIA.png" alt="#"></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img class="img-fluid" src="~/Content/images/client-logo/O.png" alt="#"></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img class="img-fluid" src="~/Content/images/client-logo/VietArchitect.png" alt="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
  client -->
<!--=================================
    Destination Trips -->
<section class="destination-trips-main">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="destination-trips-main">
                    <div class="destination-trips-content">
                        <div class="content">
                            <img class="img-fluid" src="~/Content/images/logo-light.svg" alt="">
                            <h5 class="text-white my-4 py-2">Tour the Nature</h5>
                            <!-- <a href="#" class="btn btn-link text-white"> View All Tour </a> -->
                        </div>
                    </div>
                    <div class="owl-carousel owl-nav-bottom-center" data-nav-dots="false" data-nav-arrow="true" data-items="6"
                         data-xl-items="5" data-lg-items="4" data-md-items="3" data-sm-items="3" data-xs-items="2" data-space="0"
                         data-autoheight="true">
                        <div class="item">
                            <div class="destination-trips-item trips-style-2">
                                <div class="trips-img">
                                    <img class="img-fluid" src="images/destination/28.jpg" alt="#">
                                    <!-- <div class="video">
                                                            <a class="popup-youtube"
                                                                href="https://www.youtube.com/watch?v=LgvseYYhqU0"><i
                                                                    class="fa-solid fa-play"></i></a>
                                                        </div>
                                                        <div class="trips-content">
                                                            <div class="rating">
                                                                <ul class="list-unstyled d-flex mb-2">
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fa-solid fa-star-half-stroke"></i></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <h6 class="mb-0"><a class="trips-title" href="#">Sailing</a>
                                                            </h6>
                                                        </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="destination-trips-item trips-style-2">
                                <div class="trips-img">
                                    <img class="img-fluid" src="~/Content/images/destination/29.jpg" alt="#">
                                    <!-- <div class="video">
                                                            <a class="popup-youtube"
                                                                href="https://www.youtube.com/watch?v=LgvseYYhqU0"><i
                                                                    class="fa-solid fa-play"></i></a>
                                                        </div>
                                                        <div class="trips-content">
                                                            <div class="rating">
                                                                <ul class="list-unstyled d-flex mb-2">
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                </ul>
                                                            </div>
                                                            <h6 class="mb-0"><a class="trips-title" href="#">Adventure
                                                                    Camping</a></h6>
                                                        </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="destination-trips-item trips-style-2">
                                <div class="trips-img">
                                    <img class="img-fluid" src="~/Content/images/destination/30.jpg" alt="#">
                                    <!-- <div class="video">
                                                            <a class="popup-youtube"
                                                                href="https://www.youtube.com/watch?v=LgvseYYhqU0"><i
                                                                    class="fa-solid fa-play"></i></a>
                                                        </div>
                                                        <div class="trips-content">
                                                            <div class="rating">
                                                                <ul class="list-unstyled d-flex mb-2">
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fa-solid fa-star-half-stroke"></i></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <h6 class="mb-0"><a class="trips-title" href="#">Camping</a>
                                                            </h6>
                                                        </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="destination-trips-item trips-style-2">
                                <div class="trips-img">
                                    <img class="img-fluid" src="~/Content/images/destination/31.jpg" alt="#">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="destination-trips-item trips-style-2">
                                <div class="trips-img">
                                    <img class="img-fluid" src="~/Content/images/destination/32.jpg" alt="#">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="destination-trips-item trips-style-2">
                                <div class="trips-img">
                                    <img class="img-fluid" src="~/Content/images/destination/33.jpg" alt="#">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="destination-trips-item trips-style-2">
                                <div class="trips-img">
                                    <img class="img-fluid" src="~/Content/images/destination/31.jpg" alt="#">
                                    <div class="video">
                                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=LgvseYYhqU0">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="trips-content">
                                        <div class="rating">
                                            <ul class="list-unstyled d-flex mb-2">
                                                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h6 class="mb-0">
                                            <a class="trips-title" href="#">
                                                Road
                                                Trip
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
      Destination Trips -->
<!--=================================
      Blog -->
<section class="space-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title mb-5 text-center">
                    <h2 class="title">Đôi nét về <strong>Làng Nhỏ </strong></h2>
                    <p>
                        <strong>Làng Nhỏ</strong> là dự án nằm trong chuỗi mô hình du lịch kiểu mới Natural Life, lấy môi trường
                        tự nhiên làm nền tảng (núi, rừng, hồ, suối...).
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-fluid rounded" src="~/Content/images/blog/18.jpg" alt="">
                    </div>
                    <div class="blog-body d-flex align-items-center">
                        <div class="time-card me-3">
                        </div>
                        <div class="user d-flex align-items-center me-3">
                        </div>
                        <div class="comment d-flex align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-fluid rounded" src="~/Content/images/blog/16.jpg" alt="">
                    </div>
                    <div class="blog-body d-flex align-items-center">
                        <div class="time-card me-3">
                        </div>
                        <div class="user d-flex align-items-center me-3">
                        </div>
                        <div class="comment d-flex align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-fluid rounded" src="~/Content/images/blog/15.jpg" alt="">
                    </div>
                    <div class="blog-body d-flex align-items-center">
                        <div class="time-card me-3">
                        </div>
                        <div class="user d-flex align-items-center me-3">
                        </div>
                        <div class="comment d-flex align-items-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
      Blog -->
<!--=================================
      Blog -->
<section class="space-pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title mb-5 text-center">
                    <h2 class="title">Bản Đồ <strong>Làng Nhỏ</strong></h2>
                </div>
            </div>
        </div>
        <div class="map-listing"
             style="background: url(../../Content/images/bg/09.png) no-repeat; background-position: center center; background-size: cover;">
            <div class="row">
                <div class="col-md-12">
                    <div class="map-icon icon-01">
                        <div class="contant">
                            <div class="icon">
                                <div class="map-img">
                                    <img class="img-fluid" src="~/Content/images/destination/08.jpg" alt="">
                                    <div class="pt-2">
                                        <h6 class="mb-0">Bãi Xe</h6>
                                    </div>
                                </div>
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="map-icon icon-02">
                        <div class="contant">
                            <div class="icon">
                                <div class="map-img">
                                    <img class="img-fluid" src="~/Content/images/destination/07.jpg" alt="">
                                    <div class="pt-2">
                                        <h6 class="mb-0">Khu Hut Ven Hồ</h6>
                                    </div>
                                </div>
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="map-icon icon-03">
                        <div class="contant">
                            <div class="icon">
                                <div class="map-img">
                                    <img class="img-fluid" src="~/Content/images/destination/03.jpg" alt="">
                                    <div class="pt-2">
                                        <h6 class="mb-0">Lêu Chữ A</h6>
                                    </div>
                                </div>
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="map-icon icon-04">
                        <div class="contant">
                            <div class="icon">
                                <div class="map-img">
                                    <img class="img-fluid" src="~/Content/images/destination/14.jpg" alt="">
                                    <div class="pt-2">
                                        <h6 class="mb-0">Nhà Nhân Viên</h6>
                                    </div>
                                </div>
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="map-icon icon-05">
                        <div class="contant">
                            <div class="icon">
                                <div class="map-img">
                                    <img class="img-fluid" src="~/Content/images/destination/05.jpg" alt="">
                                    <div class="pt-2">
                                        <h6 class="mb-0">Bến Canoe</h6>
                                    </div>
                                </div>
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="map-icon icon-06">
                        <div class="contant">
                            <div class="icon">
                                <div class="map-img">
                                    <img class="img-fluid" src="~/Content/images/destination/01.jpg" alt="">
                                    <div class="pt-2">
                                        <h6 class="mb-0">Cầu Gỗ</h6>
                                    </div>
                                </div>
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="map-icon icon-07">
                        <div class="contant">
                            <div class="icon">
                                <div class="map-img">
                                    <img class="img-fluid" src="~/Content/images/destination/02.jpg" alt="">
                                    <div class="pt-2">
                                        <h6 class="mb-0">Nhà Văn Phòng <br>Làng Nhõ</h6>
                                    </div>
                                </div>
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="map-icon icon-08">
                        <div class="contant">
                            <div class="icon">
                                <div class="map-img">
                                    <img class="img-fluid" src="~/Content/images/destination/06.jpg" alt="">
                                    <div class="pt-2">
                                        <h6 class="mb-0">Cầu Gỗ Vào Suối</h6>
                                    </div>
                                </div>
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
        Blog -->
