
@{
    ViewBag.Title = "Tour";
}

<!--=================================
      Search -->
<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<!--=================================
  Search -->
<!--=================================
  Header Inner -->
<section class="header-inner header-inner-menu bg-overlay-secondary"
         style="background-image: url('../../Content/images/listing/01.jpg');">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 position-relative">
                <div class="header-inner-title">
                    <div class="section-title pt-5 pt-lg-0">
                        <h2 class="title text-white"><strong>Tour</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-inner-shape" style="background-image: url('../../Content/images/bg/02.png');"></div>
</section>
<!--=================================
  Header Inner -->
<!--=================================
  Tour Grid -->
<section class="space-ptb bg-holder " style="background-image: url(../../Content/images/bg/map-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">

                <div class="section-title ">
                    <h2 class="title">Tổng hành dinh <strong>Làng Nhỏ</strong></h2>
                    <div class="description">
                        <p>
                            Hãy để thành công thúc đẩy bạn. Tìm một bức tranh về những gì tiêu biểu cho thành công
                            đối với bạn và sau đó rút ra khi bạn cần.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 align-self-end">
                <nav class="nav-tab">
                    <div class="nav nav-tabs justify-content-lg-end" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one"
                           role="tab" aria-controls="nav-one" aria-selected="true">Tất cả</a>
                        <a class="nav-item nav-link" id="nav-tow-tab" data-bs-toggle="tab" href="#nav-tow"
                           role="tab" aria-controls="nav-tow" aria-selected="false">Ngân sách thân thiện</a>
                        <a class="nav-item nav-link" id="nav-three-tab" data-bs-toggle="tab" href="#nav-three"
                           role="tab" aria-controls="nav-three" aria-selected="false">Chuyến du lịch có hộ tống</a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content mt-5" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-one" role="tabpanel"
                         aria-labelledby="nav-one-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-4 ">
                                <div class="listing-item">
                                    <div class="listing-image bg-overlay-half-bottom">
                                        <img class="img-fluid" src="~/Content/images/listing/01.jpg" alt="#">
                                        <div class="listing-favourite">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                    <div class="listing-details">
                                        <div class="listing-title d-flex justify-content-between">
                                            <h5 class="mb-0">
                                                <a href="tour-detail.html" class="title mb-0">
                                                    Tour
                                                    1
                                                </a>
                                            </h5>

                                        </div>
                                        <a href="#" class="listing-loaction">
                                            <i class="fa fa-location-dot"></i>Hồ
                                            Láng Nhớt - Thôn Đá Mài - Xã Diên Tân - Huyện Diên Khánh - Tỉnh Khánh
                                            Hòa - Việt Nam
                                        </a>
                                        <div class="listing-rating d-flex justify-content-between">
                                            <div class="d-flex">
                                                <div class="date me-3">
                                                    <i class="fa-regular fa-calendar-days me-2"></i><span>
                                                        Ngày
                                                    </span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star me-1 text-yellow"></i><span>
                                                        4.3 /
                                                        5
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="tour-detail.html" class="btn btn-link">Xem Chi Tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 ">
                                <div class="listing-item">
                                    <div class="listing-image bg-overlay-half-bottom">
                                        <img class="img-fluid" src="~/Content/images/listing/02.jpg" alt="#">
                                        <div class="listing-favourite">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                    <div class="listing-details">
                                        <div class="listing-title d-flex justify-content-between">
                                            <h5 class="mb-0">
                                                <a href="tour-detail.html" class="title mb-0">
                                                    Tour
                                                    2
                                                </a>
                                            </h5>

                                        </div>
                                        <a href="#" class="listing-loaction">
                                            <i class="fa fa-location-dot"></i> Hồ
                                            Láng Nhớt - Thôn Đá Mài - Xã Diên Tân - Huyện Diên Khánh - Tỉnh Khánh
                                            Hòa - Việt Nam
                                        </a>
                                        <div class="listing-rating d-flex justify-content-between">
                                            <div class="d-flex">
                                                <div class="date me-3">
                                                    <i class="fa-regular fa-calendar-days me-2"></i><span>
                                                        Ngày
                                                    </span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star me-1 text-yellow"></i><span>
                                                        4.3 /
                                                        5
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="tour-detail.html" class="btn btn-link">Xem Chi Tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 ">
                                <div class="listing-item">
                                    <div class="listing-image bg-overlay-half-bottom">
                                        <img class="img-fluid" src="~/Content/images/listing/03.jpg" alt="#">
                                        <div class="listing-favourite">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                    <div class="listing-details">
                                        <div class="listing-title d-flex justify-content-between">
                                            <h5 class="mb-0">
                                                <a href="tour-detail.html" class="title mb-0">
                                                    Tour
                                                    3
                                                </a>
                                            </h5>

                                        </div>
                                        <a href="#" class="listing-loaction">
                                            <i class="fa fa-location-dot"></i>
                                            Hồ Láng Nhớt - Thôn Đá Mài - Xã Diên Tân - Huyện Diên Khánh - Tỉnh Khánh
                                            Hòa - Việt Nam
                                        </a>
                                        <div class="listing-rating d-flex justify-content-between">
                                            <div class="d-flex">
                                                <div class="date me-3">
                                                    <i class="fa-regular fa-calendar-days me-2"></i><span>
                                                        Ngày
                                                    </span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star me-1 text-yellow"></i><span>
                                                        4.3 /
                                                        5
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <a href="tour-detail.html" class="btn btn-link">Xem Chi Tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <div class="listing-item">
                                    <div class="listing-image bg-overlay-half-bottom">
                                        <img class="img-fluid" src="~/Content/images/listing/04.jpg" alt="#">
                                        <div class="listing-favourite">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                    <div class="listing-details">
                                        <div class="listing-title d-flex justify-content-between">
                                            <h5 class="mb-0">
                                                <a href="tour-detail.html" class="title mb-0">
                                                    Tour
                                                    4
                                                </a>
                                            </h5>

                                        </div>
                                        <a href="#" class="listing-loaction">
                                            <i class="fa fa-location-dot"></i> Hồ
                                            Láng Nhớt - Thôn Đá Mài - Xã Diên Tân - Huyện Diên Khánh - Tỉnh Khánh
                                            Hòa - Việt Nam
                                        </a>
                                        <div class="listing-rating d-flex justify-content-between">
                                            <div class="d-flex">
                                                <div class="date me-3">
                                                    <i class="fa-regular fa-calendar-days me-2"></i><span>
                                                        Ngày
                                                    </span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star me-1 text-yellow"></i><span>
                                                        4.3 /
                                                        5
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="tour-detail.html" class="btn btn-link">Xem Chi Tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 mb-md-0">
                                <div class="listing-item">
                                    <div class="listing-image bg-overlay-half-bottom">
                                        <img class="img-fluid" src="~/Content/images/listing/05.jpg" alt="#">
                                        <div class="listing-favourite">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                    <div class="listing-details">
                                        <div class="listing-title d-flex justify-content-between">
                                            <h5 class="mb-0">
                                                <a href="tour-detail.html" class="title mb-0">
                                                    Tour
                                                    5
                                                </a>
                                            </h5>

                                        </div>
                                        <a href="#" class="listing-loaction">
                                            <i class="fa fa-location-dot"></i> Hồ
                                            Láng Nhớt - Thôn Đá Mài - Xã Diên Tân - Huyện Diên Khánh - Tỉnh Khánh
                                            Hòa - Việt Nam
                                        </a>
                                        <div class="listing-rating d-flex justify-content-between">
                                            <div class="d-flex">
                                                <div class="date me-3">
                                                    <i class="fa-regular fa-calendar-days me-2"></i><span>
                                                        Ngày
                                                    </span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star me-1 text-yellow"></i><span>
                                                        4.3 /
                                                        5
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="tour-detail.html" class="btn btn-link">Xem Chi Tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="listing-item">
                                    <div class="listing-image bg-overlay-half-bottom">
                                        <img class="img-fluid" src="~/Content/images/listing/06.jpg" alt="#">
                                        <div class="listing-favourite">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                    <div class="listing-details">
                                        <div class="listing-title d-flex justify-content-between">
                                            <h5 class="mb-0">
                                                <a href="tour-detail.html" class="title mb-0">
                                                    Tour
                                                    6
                                                </a>
                                            </h5>

                                        </div>
                                        <a href="#" class="listing-loaction">
                                            <i class="fa fa-location-dot"></i>
                                            Hồ Láng Nhớt - Thôn Đá Mài - Xã Diên Tân - Huyện Diên Khánh - Tỉnh Khánh
                                            Hòa - Việt Nam
                                        </a>
                                        <div class="listing-rating d-flex justify-content-between">
                                            <div class="d-flex">
                                                <div class="date me-3">
                                                    <i class="fa-regular fa-calendar-days me-2"></i><span>
                                                        Ngày
                                                    </span>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star me-1 text-yellow"></i><span>
                                                        4.3 /
                                                        5
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="tour-detail.html" class="btn btn-link">Xem Chi Tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
Tour Grid -->
