
@{
    ViewBag.Title = "Tour_Detail";
}

<!--=================================
      Search -->
<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<!--=================================
    Search -->
<!--=================================
    Header Inner -->
<section class="header-inner header-inner-menu bg-overlay-secondary"
         style="background-image: url('../../Content/images/bg/01.jpg');">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 position-relative">
                <div class="header-inner-title">
                    <div class="section-title">
                        <h2 class="title text-white"><strong>Tour Details</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-inner-shape" style="background-image: url('~/Content/images/bg/02.png');"></div>
</section>
<!--=================================
    Header Inner -->
<!--=================================
    Tour Grid -->
<section class="space-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="listing-item listing-item-details">
                    <div class="listing-details">
                        <div class="listing-title d-flex justify-content-between mb-4">
                            <h4 class="mb-0"><a href="#" class="title mb-0">Tour Detail Name</a></h4>
                        </div>
                        <div class="listing-rating row d-flex justify-content-between align-items-center">
                            <div class="col-lg-7">
                                <div class="d-sm-flex align-items-center">
                                    <div class="date me-3 mb-3 mb-sm-0">
                                        <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                                    </div>
                                    <div class="rating mb-3 mb-sm-0">
                                        <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                                    </div>
                                    <a href="#" class="listing-loaction ms-sm-4">
                                        <i class="fa fa-location-dot"></i> 19 The
                                        Lindens,Grantham,England United Kingdom
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="listing-detail-page">
                                <div class="listing-detail-box">
                                    <div class="listing-image bg-overlay-half-bottom">
                                        <img class="img-fluid" src="~/Content/images/listing/02.jpg" alt="#">
                                    </div>
                                    <div class="mt-4">
                                        <div class="detail-title">
                                            <h5 class="fw-600">Mô tả chuyến tham quan</h5>
                                        </div>
                                        <p>
                                            The other virtues practice in succession by Franklin were silence, order, resolution,
                                            frugality, industry, sincerity, Justice, moderation, cleanliness, tranquility, chastity and
                                            humility.
                                        </p>
                                        <p class="mb-0">
                                            From eight till twelve he worked at his trade. From twelve to one he read or
                                            overlooked his accounts and dined. From two to five he worked at his trade. The rest of the
                                            evening until 10 he spent in music, or diversion of some sort. This time is used also to put
                                            things in their places. In the last thing before retiring was examination of the day. At the age
                                            of 79, he ascribed his health to temperance; the acquisition of misfortune to industry and
                                            frugality;
                                        </p>
                                    </div>
                                </div>
                                <div class="listing-detail-box">
                                    <div class="detail-title">
                                        <h5 class="fw-600">Đặt trước</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="accordion" id="accordionExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Day1 : male - South Males Atoll
                                                        </button>
                                                    </h2>
                                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-sm-3">
                                                                    <img class="img-fluid border-radius" src="~/Content/images/listing/14.jpg" alt="">
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    Introspection is the trick. Understand what you want, why you want it and what it
                                                                    will do for you. This is a critical factor, and as such, is probably the most
                                                                    difficult step. For this reason, most people never complete this aspect – then
                                                                    wonder why life is so difficult!
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingTwo">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Day2 : male - South Males Atoll
                                                        </button>
                                                    </h2>
                                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-sm-3">
                                                                    <img class="img-fluid border-radius" src="~/Content/images/listing/15.jpg" alt="">
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    The sad thing is the majority of people have no clue about what they truly want.
                                                                    They have no clarity. When asked the question, responses will be superficial at
                                                                    best, and at worst, will be what someone else wants for them.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingThree">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            Day3 : male - South Males Atoll
                                                        </button>
                                                    </h2>
                                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-sm-3">
                                                                    <img class="img-fluid border-radius" src="~/Content/images/listing/16.jpg" alt="">
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    Commitment is something that comes from understanding that everything has its price
                                                                    and then having the willingness to pay that price. This is important because nobody
                                                                    wants to put significant effort into something, only to find out after the fact that
                                                                    the price was too high.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingFour">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                            Day4 : male - South Males Atoll
                                                        </button>
                                                    </h2>
                                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-sm-3">
                                                                    <img class="img-fluid border-radius" src="~/Content/images/listing/17.jpg" alt="">
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    The old expression is absolutely true – whether you think you can or you can’t,
                                                                    you’re right!
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingFive">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                            Day5 : male - South Males Atoll
                                                        </button>
                                                    </h2>
                                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-sm-3">
                                                                    <img class="img-fluid border-radius" src="~/Content/images/listing/18.jpg" alt="">
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    Figure out what you want, put a plan together to achieve it, understand the cost,
                                                                    believe in yourself then go and get it!
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="listing-detail-box popup-gallery">
                                    <div class="detail-title">
                                        <h5 class="fw-600">Thư viện ảnh</h5>
                                    </div>
                                    <div class="row g-2">
                                        <div class="col-md-6">
                                            <div class="portfolio portfolio-style-03 mb-0 rounded">
                                                <div class="portfolio-images">
                                                    <img class="img-fluid rounded " src="~/Content/images/listing/09.jpg" alt="" style="width: 554px;">
                                                    <div class="portfolio-info-02">
                                                        <a class="portfolio-img popup-icon" href="images/listing/09.jpg">
                                                            <i class="fas fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-2 g-2">
                                                <div class="col-sm-6 mb-sm-0">
                                                    <div class="portfolio portfolio-style-03 mb-0 rounded">
                                                        <div class="portfolio-images">
                                                            <img class="img-fluid rounded " src="~/Content/images/listing/10.jpg" alt="">
                                                            <div class="portfolio-info-02">
                                                                <a class="portfolio-img popup-icon" href="~/Content/images/listing/10.jpg">
                                                                    <i class="fas fa-plus"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="portfolio portfolio-style-03 mb-0 rounded">
                                                        <div class="portfolio-images">
                                                            <img class="img-fluid rounded " src="~/Content/images/listing/11.jpg" alt="">
                                                            <div class="portfolio-info-02">
                                                                <a class="portfolio-img popup-icon" href="~/Content/images/listing/11.jpg">
                                                                    <i class="fas fa-plus"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row g-2">
                                                <div class="col-sm-6 mb-sm-0">
                                                    <div class="portfolio portfolio-style-03 mb-0 rounded">
                                                        <div class="portfolio-images">
                                                            <img class="img-fluid rounded " src="~/Content/images/listing/12.jpg" alt="">
                                                            <div class="portfolio-info-02">
                                                                <a class="portfolio-img popup-icon" href="~/Content/images/listing/12.jpg">
                                                                    <i class="fas fa-plus"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="portfolio portfolio-style-03 mb-0 rounded">
                                                        <div class="portfolio-images">
                                                            <img class="img-fluid rounded " src="~/Content/images/listing/13.jpg" alt="">
                                                            <div class="portfolio-info-02">
                                                                <a class="portfolio-img popup-icon" href="~/Content/images/listing/13.jpg">
                                                                    <i class="fas fa-plus"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
  Tour Grid -->
